* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-size: 1.75em;
}

.block {
    width: calc(33.33% - 40px);
    float: left;
    padding: 25px 15px 15px 15px;
    background-color: gray;
    border: solid black 2px;
    margin: 20px;
    position: relative;
}

.block span {
    border: solid black;
    border-width: 0 0 2px 2px;
    float: right;
    font-size: 1.25em;
    font-weight: 600;
    padding: 5px 30px;
    position: absolute;
    top:0;
    right: 0;
}

.sushi_block span {
    background-color: wheat;
}

.beef_block span {
    background-color:indianred;
    color: #fff;
}

.chicken_block span{
    background-color: lightpink;
}

@media (min-width: 768px) and (max-width: 991px) {
    .block {
        width: calc(50% - 40px);
    }
    .sushi_block {
        clear: both;
        float: left;
        width: calc(100% - 40px);
    }
}

@media (max-width: 767px) {
    .block {
        width: calc(100% - 40px);
    }
}
